
.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    }

input::placeholder, textarea::placeholder {
    font-style: italic;
    color: #999;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 150px;
}
form label {
    font-size: 1.2em;
    margin: 15px;
    align-items: left;
    font-weight: bold;
}


form input {
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    width: 250px;
    border: 3px solid black;
    border-radius: 5px;
}

form button {
    background-color: #000;
    color: white;
    padding: 12px 8px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 85%;
    border-radius: 10px;
    display: block;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #000 50%, #314a6f 50%);
    transition: background-position 0.5s;
}


form button:hover {
    background-position: right center;
}

